<!DOCTYPE html>
<title>Admin Login</title>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
{% load static %}
   <head>
      <meta charset="utf-8">
      <title>Admin Login</title>
      <link rel="stylesheet" href="{% static 'css/login_style.css' %}">

   </head>
   <body>
     {% if error_message %} {{ error_message }} {% endif %}
      <div class="wrapper">
         <div class="title">
            Login Form
         </div>
         <form action="{% url 'login_view' %}" method="post">
          {% csrf_token %}
            <div class="field">
               <input type="text" name="email" required>
               <label>Email Address</label>
            </div>
            <div class="field">
               <input type="password" name="password" required>
               <label>Password</label>
            </div>
            <div class="content">
               <div class="pass-link">
                  <a href="#">Forgot password?</a>
               </div>
            </div>
            <div class="field">
               <input type="submit" value="Login">
            </div>
            <div class="signup-link">
               Not a member? <a href="#">Signup now</a>
            </div>
         </form>
      </div>
   </body>
</html>