<!DOCTYPE html>
<title>Voter Register</title>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voter Menu</title>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/voter/reg_style.css' %}">
</head>
<body>
  {% block sidebar %}
    {% include 'voter/sidebar.html' %}
  {% endblock %}
  <main>
    <div class="container">
      <h1>{{ title }}</h1>
      <header>Voter Registration</header>
      {% if current_phase == 'voting' or current_phase == 'closed' %}
        <h1 style="color:red">REGISTRATION ENDED...</h1>
      {% else %}
        {% if is_registered %}
          <h1 style="color:green">You are already registered.</h1>
        {% else %}
          <form method="POST" action="{% url 'otp_reg' %}">
            {% csrf_token %}
            {% if current_phase == 'registration' %}
            <div class="input-field button">
              <input type="submit" value="Register Now" />
            </div>
            {% endif %}
          </form>
        {% endif %}
      {% endif %}
    </div>
  </main>

  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
